<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'billing/js/clock.js' %}"></script>
     
    <style>
    
    </style>
    <title>Billing</title>
  </head>
  <body class="container-fluid" onLoad="startTime()">
<header id="containerIntro">
    <h1>Billing</h1>
    <p id="datetime">{{ date }} <span id="txt"></span></p>
</header>
  <p></p>
<hr></hr>

    <div style="overflow-x:auto;">
      <table class="table table-hover table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>link</th>
      </tr>
      <tr>
        <td>{{ p_name }}</td>
        <td>{{ ph_no  }}</td>
        <td>{{ link }} </td>
      </tr>
      <tr>
        <td>{{ p_name }}</td>
        <td>{{ ph_no  }}</td>
        <td>{{ link }} </td>
      </tr>
    </table>

    <script src="{% static 'billing/js/clock.js' %}">
    </script>
    <script>
      function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>

  </body>
</html>
