
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <title>Welcome!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom static imports -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>

  <body>
  <!--    Header    -->
    <header class="navbar navbar-expand sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/hospital.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        City Hospital
      </a>
      <span class="navbar-text ml-auto">{{ date }} <span id="clockk"></span></span>
    </header>
  <!--    End of Header   -->

  <!--    Container   -->
    <div class="container">
      <h3 class="pt-3">Hello Patient,</h3>
      <pre>We hope, we have earned your trust!</pre>
      <hr>
      <div id="showTimeAndPatients">
        <p>Please proceed to the billing counter,</p>
        <p>Your Estimated Time is <strong><span id="expected_time">{{queueStatus.expected_time}}</span></strong> miniutes.</p>
        <p>There are <strong><span id="patAhead">{{queueStatus.patAhead}}</span></strong> patients ahead of you.</p>
      </div>
      <div id="showInWords">
        <pre>Thank you for visiting!</pre>
      </div>
    </div>
  <!--    End of Container    -->

  <!--    Scripts   -->
    <script>window.onload=function(){startTime();}</script>
    <!-- JQuery,Pooper and Bootstrap imports -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Custom static imports -->
    <script src="{% static 'billing/js/custom.js' %}"></script>
    <script src="{% static 'billing/js/clock.js' %}"></script>
  <!--    End of Scripts    -->
  </body>

</html>
