
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <title>Welcome!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap imports -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <!-- custom static imports -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src={% static 'js/jquery-3.1.1.js' %}></script>
    
    <style>
    input[type="radio"]{
        margin: 0 2% 0 2%;
                       }
    </style>

  </head>

  <body>
  <!--    Header    -->
    <header class="navbar navbar-expand sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/hospital.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        City Hospital
      </a>
      <span class="navbar-text ml-auto">{{ date }} <span id="clockk"></span></span>
    </header>
  <!--    End of Header   -->

  <!--    Container   -->
    <div class="container">
      <h2 class="pt-3">Hello Patient,</h2>
      <pre>We hope, we have earned your trust!</pre>
      <hr>
      <div id="showTimeAndPatients">
        <p>Please proceed to the billing counter,</p>
        <p>Your Estimated Time is <strong><span id="expected_time">{{queueStatus.expected_time}}</span></strong> miniutes.</p>
        <p>There are <strong><span id="patAhead">{{queueStatus.patAhead}}</span></strong> patients ahead of you.</p>
      </div>
      <div id="showInWords">
        <pre>Thank you for visiting!</pre>
        <h4 class="pt-3">Could you please fill this feedback form to help us Improve.</h4><br>
        <form>
           <h6> (Q) Overall, How was your Experience?</h6>
           <input type="radio" name="Overall" value="1">Below Average
           <input type="radio" name="Overall" value="2">Average
           <input type="radio" name="Overall" value="3">Good
           <input type="radio" name="Overall" value="4">Excellent
           <br><br>
           <h6> (Q) Level of accuracy of the prediction system?</h6>
           <input type="radio" name="pred" value="1">Below Average
           <input type="radio" name="pred" value="2">Average
           <input type="radio" name="pred" value="3">Good
           <input type="radio" name="pred" value="4">Excellent
           <br><br>
           <h6> (Q) How was the staff behaviour to your request?</h6>
           <input type="radio" name="1" value="1">Below Average
           <input type="radio" name="2" value="2">Average
           <input type="radio" name="4" value="3">Good
           <input type="radio" name="5" value="4">Excellent
           <br><br>
           <p><input type="submit" value="Submit"></p>
         </form>
      </div>
      <hr>

     </div>
  <!--    End of Container    -->
  <!--    Scripts   -->
    <script>window.onload=function(){startTime();}</script>
    <!-- JQuery,Pooper and Bootstrap imports -->
    <script type="text/javascript" src={% static 'js/jquery-3.1.1.js' %}></script>
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

    <!-- Custom static imports -->
    <script src="{% static 'billing/js/custom.js' %}"></script>
    <script src="{% static 'billing/js/clock.js' %}"></script>
  <!--    End of Scripts    -->
  </body>

</html>
