<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <title>Appointment Status</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">


    <!-- script imports -->
    <script type="text/javascript" src={% static 'js/jquery-3.1.1.js' %}></script>

    <!-- bootstrap imports -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'doc_appoint/css/custom.css' %}">
    <!-- <script type="text/javascript" src="{% static 'doc_appoint/js/support.js' %}"></script> -->


  </head>
  <body>

    <!-- Header -->
    <header class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{% static 'doc_appoint/img/hospital.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        City Hospital
      </a>
      <span class="navbar-text ml-auto">{{ date }} <span id="clockk"></span></span>
    </header>
    <!-- End of Header -->


    <div class="container pt-3">
      <h3>Hello {{patient_name}},{{ date }}</h3>
      <p>You are appointed Dr {{doctorName}}</p>
      <pre>You are welcomed to City Hospital!</pre>
      <hr>
      <p id="waitTimeParagraph">Your expected waiting Time is <strong class="text-weight-bold" id ="expected_time">{{expected_time}}</strong>  minutes.</p>
      <p >With <span id="patAhead">{{totalPeople}}</span> patients ahead of you for your doctor.</p>
      <div class="row" id="visualQueueDiv">
        {% for i in rangee %}
          <figure class="figure">
            <img style="height:50px; width:50px;" src="{% static 'img/male.svg' %}" class="figure-img" alt="fig">
          </figure>
        {% endfor %}
        <figure class="figure">
          <img style="height:50px; width:50px;" src="{% static 'img/highlightmale.svg' %}" class="figure-img" alt="fig">
          <figcaption class="figure-caption" style="text-align:center;">You</figcaption>
        </figure>
      </div>
      <div id="notificationSound">

      </div>
    <!-- Footer -->
    <footer class="footer">
      <hr>
      <p class="text-weight-light">You’ll Love the Way We Care for You.❤️</p>
    </footer>
  </div>
    <script type="text/javascript">
      var notificationSound = "{% static 'doc_appoint/audio/beep.mp3' %}"
      var maleImageSrc = "{% static 'img/male.svg' %}"
      var highlightMaleSrc = "{% static 'img/highlightmale.svg' %}"
    </script>
    <script type="text/javascript" src="{% static 'doc_appoint/js/support.js' %}"></script>
  <!-- JQuery,Pooper and Bootstrap imports -->
    <script type="text/javascript" src={% static 'js/jquery-3.1.1.js' %}></script>
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script>
      function startTimer(time,context) {
        var timer = time*60, minutes, seconds;
          setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            context.innerHTML = minutes + ":" + seconds;
            if (--timer < 0) {
                timer = time;
            }
        }, 1000);
      }


      window.onload = function () {
        var min = {{ expected_time }},
            context = document.getElementByID('#time');
          startTimer(min, context);
      };
</script>
  </body>
</html>
