<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      {% csrf_token %}
      Patient Full Name :
      <input type="text" name="patient_name">
      Phone Number :
      <input type="number" name="ptphno">
      Type of medication :
      <select name="type_of_medication">

      </select>
      Available Doctors :
      <input type="text" name="doc" value="">
      <select class="" name="">

      </select>

    </form>
  </body>
</html>
